<div class="general">
  <h1> Tab title changer </h1>
    <input id="Inputtext" type="text" placeholder="Type in here!" [(ngModel)]="newTitle">
    <div class="myCheckBox">
      <input id="checkBox1" type="checkbox" (change)="checkBox1($event)">
      <label for="checkBox1">Show the new title</label>
    </div>
    <div class="myCheckBox">
      <input id="checkBox2" type="checkbox" (change)="checkBox2($event)">
      <label for="checkBox2">Switch between the new title and default every one second</label>
    </div>
</div>
